<div id="courseInfoForm">
    <h2>Course Form</h2>
    <form #infoForm="ngForm">
        <div class="form-group">
            <label for="courseName">Course Name</label>
            <input type="text" required [(ngModel)]="course.name" name="courseName" class="form-control"
                   id="courseName" aria-describedby="courseNameHelp" placeholder="Course name"
                   [appInputFormat]="'uppercase'" #firstName="ngModel">
            <small id="courseNameHelp" class="form-text text-muted">Each course must have a name.</small>
            <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">Course Name Required.</div>
        </div>
        <div class="form-group">
            <label for="author">Author</label>
            <select class="form-control" required id="author" name="authorID" [(ngModel)]="course.authorID"
                    aria-describedby="authorHelp" #author="ngModel">
                <option value="" disabled>Choose an author</option>
                <option *ngFor="let a of authors" [ngValue]="a.id">
                    {{ a.name }}
                </option>
            </select>
            <small id="authorHelp" class="form-text text-muted">Each course must have an author.</small>
            <div class="alert alert-danger" *ngIf="author.invalid && author.touched">Author Required.</div>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input"  id="isOpen" name="status" [(ngModel)]="course.isOpen" aria-describedby="isOpenHelp">
            <label class="form-check-label" for="isOpen">Is Open?</label>
        </div>
        <div class="form-group">
            <label for="student">Number of students</label>
            <input type="number" required [(ngModel)]="course.student" name="student" class="form-control"
                   id="student" aria-describedby="studentHelp" placeholder="Maximum student"
            #student="ngModel">
            <small id="studentHelp" class="form-text text-muted">Number of students</small>
            <div class="alert alert-danger" *ngIf="student.invalid && student.touched">Number of Students Required.</div>
        </div>
        <div class="form-group">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd"
                           name="releasedDate" [(ngModel)]="course.releasedDate" ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                            <span class="oi oi-calendar"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" (click)="onAddCourse()">Add</button>
    </form>
</div>
<pre>{{course | json}}</pre>

