

<h2>{{title}}</h2>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let c of courses">
    <a href="">Title: {{c.name}} - Author: {{c.author.name}} - Status: {{c.status}}</a>&nbsp;
    <button type="button"
            [class]="c.isActive ? 'btn btn-info btn-sm float-right' : 'btn btn-secondary btn-sm float-right'"
            [disabled]="!c.isActive"
            (click)="onAdd(c, $event)"
    >
      <span class="oi oi-cart" *ngIf="c.isActive"></span>&nbsp;
      <span class="oi oi-ban" *ngIf="!c.isActive"></span>&nbsp;
      Add
    </button>
  </li>
</ul>

