<div [hidden]="courses.length > 0">
    No course yet!
</div>
<h2>{{title}}</h2>
<ul class="list-group">
  <li
      class="list-group-item list-group-item-action"
      [ngClass] = "{
        'list-group-item-light': isEven,
        'list-group-item-secondary': !isEven
      }"
      *ngFor="let c of courses; even as isEven">
    <a [routerLink]="['/course', c.id]">Title: {{c.name}} - Author: {{c.author ? c.author.name : ''}} - Status: {{c.status}}</a>&nbsp;
    <button type="button"
            [class]="c.isActive ? 'btn btn-info btn-sm float-right' : 'btn btn-secondary btn-sm float-right'"
            [disabled]="!c.isActive"
            (click)="onAdd(c, $event)"
    >
      <span class="oi oi-cart" *ngIf="c.isActive"></span>&nbsp;
      <span class="oi oi-ban" *ngIf="!c.isActive"></span>&nbsp;
      Add
    </button>
      <ul>
          <li>Student: {{c.student | number}}</li>
          <li>Price: {{c.price | currency}}</li>
          <li>Release Date: {{c.releasedDate | date: 'MM/dd/yyyy'}}</li>
      </ul>
  </li>
</ul>
<pre>{{ courses | json }}</pre>
<pre>{{ currentCourse | json }}</pre>

