<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-expand-md navbar-dark bg-info sticky-top">
  <ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link" href="#"><span class="oi oi-home"></span>&nbsp;Home</a></li>
    <li class="nav-item"><a class="nav-link" href="#"><span  class="oi oi-basket"></span>&nbsp;Cart <span class="badge badge-light">1</span></a></li>
    <li class="nav-item"><a class="nav-link" href="#"><span  class="oi oi-puzzle-piece"></span>&nbsp;Admin</a></li>
  </ul>
</nav>
<div class="jumbotron">
  <app-course-form></app-course-form>
</div>

